{
  "plugins": ["prettier-plugin-astro"],
  "jsxSingleQuote": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
