---
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  return [
    {
      params: { service: 'documents' },
      props: { subtitle: 'Impresión de Documentos', categorySign: 'docs' }
    },
    {
      params: { service: 'pictures' },
      props: { subtitle: 'Impresión de Imágenes', categorySign: 'pict' }
    },
    {
      params: { service: 'marketing' },
      props: { subtitle: 'Herramientas de Publicidad', categorySign: 'mktg' }
    },
    {
      params: { service: 'design' },
      props: { subtitle: 'Diseño Gráfico', categorySign: 'dsgn' }
    },
    {
      params: { service: 'miscelaneous' },
      props: { subtitle: 'Otros Servicios', categorySign: 'misc' }
    }
  ];
}

const { subtitle, categorySign } = Astro.props;
---

<Layout {subtitle}>
  <main data-category={categorySign}>
    <h2>{subtitle}</h2>
  </main>
</Layout>

<script>
  import ExternalServices from '@scripts/ExternalServices.mjs';
  import { qs } from '@scripts/utils.mjs';
  const { PUBLIC_SERVICES_URL } = import.meta.env;
  const dataSource = new ExternalServices();
  const { category } = qs('main').dataset;
  const data = await dataSource.getServices(PUBLIC_SERVICES_URL, category);
  console.log(data);
</script>
