---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import ServiceCarousel from '@components/CarouselComponents/ServiceCarousel.tsx';
import Collage from '@components/Collage';

import { carousel as carouselLinks } from '@lib/data.ts';
---

<Layout subtitle='Inicio'>
  <main>
    <Hero />

    <ServiceCarousel anchors={carouselLinks} client:visible />

    <Collage client:load />
  </main>
</Layout>

<style is:global>
  section {
    grid-column: 2 / 3;
  }
</style>
