---
import Logo from '@components/Logo.astro';
import wavesSVG from '@assets/waves-top.svg';
---

<header>
  <section id='waves-top'>
    <img src={wavesSVG.src} alt='Brand Waves Top' />
  </section>
  <a href='/'>
    <Logo type='header' />
  </a>
  <button type='button' id='menu'><i class='fi fi-br-menu-burger'></i></button>
  <nav id='siteNav'>
    <ul class='nav-list'>
      <li>
        <a href='/' class='nav-link'>Inicio</a>
      </li>

      <li>
        <details>
          <summary class='nav-link'>Servicios</summary>
          <ul>
            <li>
              <a href='/services/documents'> Impresión de Documentos </a>
            </li>
            <li>
              <a href='/services/pictures'> Impresión de Fotografías </a>
            </li>
            <li>
              <a href='/services/marketing'> Herramientas de Publicidad </a>
            </li>
            <li>
              <a href='/services/design'> Diseño Gráfico </a>
            </li>
            <li>
              <a href='/services/miscelaneous'> Otros Servicios </a>
            </li>
          </ul>
        </details>
      </li>

      <li>
        <a href='/products' class='nav-link'> Productos </a>
      </li>
    </ul>
    <section class='help'>
      <a href='/support/about'>¿Quiénes somos?</a>
      <a href='/support/how-to-buy'>¿Cómo comprar?</a>
      <a href='/support/contact'>Contáctanos</a>
    </section>
  </nav>
</header>

<script>
  const desktopMediaQuery = matchMedia('(min-width: 768px)');

  function popoverHandler(event) {
    const navBtn = document.getElementById('menu');
    const nav = document.getElementById('siteNav');

    if (event.matches) {
      if (nav.hasAttribute('popover')) {
        nav.removeAttribute('popover');
        navBtn.removeAttribute('popovertarget');
      }
    } else {
      nav.setAttribute('popover', '');
      navBtn.setAttribute('popovertarget', 'siteNav');
    }
  }

  popoverHandler(desktopMediaQuery);

  desktopMediaQuery.addEventListener('change', popoverHandler);

  function closeServicesDetails(event) {
    if (!event.target.matches('.nav-list details summary') && !event.target.matches('.nav-list details li a')) {
      const details = document.querySelector('.nav-list details');
      if (details.open) {
        details.removeAttribute('open');
      }
    }
  }

  document.addEventListener('click', closeServicesDetails);
  document.addEventListener('mouseover', closeServicesDetails);
</script>

<style>
  /* Mobile-first Layout */
  header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    position: relative;

    background-color: var(--main-background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;

    & > *:not(#waves-top) {
      z-index: 1;
    }

    & a {
      display: block;
    }
  }

  #waves-top {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  #menu {
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
  }

  nav {
    margin-inline: auto 0;
    padding-top: 4rem;

    width: 100%;
    max-width: 50vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--main-background-color);

    border: none;

    z-index: 1;

    transform: translateX(100%);
    transition: transform 500ms ease-in-out;

    &:popover-open {
      transform: translateX(0);
    }

    &::backdrop {
      background-color: var(--shadow-background-color);
      transition: background-color 500ms ease-in-out;
    }

    & ul li {
      list-style: none;
    }

    & .nav-list {
      width: 100%;

      & li {
        &:nth-child(1) .nav-link:hover {
          background: linear-gradient(
            var(--home-gradient1-color),
            var(--home-gradient2-color),
            var(--home-gradient3-color)
          );
        }

        &:nth-child(2) .nav-link:hover {
          background: linear-gradient(
            var(--services-gradient1-color),
            var(--services-gradient2-color),
            var(--services-gradient3-color)
          );
        }

        &:nth-child(3) .nav-link:hover {
          background: linear-gradient(
            var(--products-gradient1-color),
            var(--products-gradient2-color),
            var(--products-gradient3-color)
          );
        }

        & .nav-link {
          font-weight: 600;

          text-shadow: 1px 1px 3px var(--link-shadow-color);

          padding: 0.75rem 2.5rem;
          transition: background-color ease-in-out 200ms;
        }

        & details {
          cursor: pointer;

          & summary {
            list-style: none;
          }

          & li {
            width: auto;

            & a {
              display: block;
              padding: 0.75rem 3rem;

              font-size: 0.85rem;
              font-weight: 500;

              border-left: 3px solid transparent;

              &:hover {
                border-left: 3px solid white;
                background-color: #7777;
              }
            }
          }
        }
      }
    }

    & .help {
      padding-block: 1rem;

      background-color: #5557;

      & a {
        display: block;
        padding: 0.75rem 2rem;

        &:hover {
          color: var(--link-help-hover-color);
        }
      }
    }
  }

  /* Larger Screens Adaptations */
  @media (min-width: 768px) {
    header {
      padding-right: 0;
    }

    #menu {
      display: none;
    }

    nav {
      margin-inline: 0;
      padding-top: 0;

      width: fit-content;
      max-width: none;
      height: auto;

      flex-direction: row;

      background-color: transparent;

      transform: none;
      transition: none;

      z-index: 0;

      & .nav-list {
        width: 100%;

        display: flex;
        align-items: stretch;

        & li {
          & .nav-link {
            padding: 1.7rem 2rem;
            align-self: stretch;
          }

          & details {
            position: relative;

            & ul {
              position: absolute;

              background-color: var(--main-background-color);

              & li {
                & a {
                  border-left: none;
                  text-align: center;

                  display: block;
                  padding: 1rem;

                  &:hover {
                    border-left: none;
                  }
                }
              }
            }
          }
        }
      }

      & .help {
        display: none;
      }
    }
  }
</style>
