---
import Logo from '@components/Logo.astro';
import wavesSVG from '@assets/waves-top.svg';
---

<header>
  <section id='waves-top'>
    <img src={wavesSVG.src} alt='Brand Waves Top' />
  </section>
  <a href='/'>
    <Logo type='header' />
  </a>
  <button type='button' id='menu'><i class='fi fi-br-menu-burger'></i></button>
  <nav id='siteNav'>
    <ul class='nav-list'>
      <li>
        <a href='/' class='nav-link'>Inicio</a>
      </li>

      <li>
        <a href='/search?v=s' class='nav-link'> Servicios </a>
      </li>

      <li>
        <a href='/search?v=p' class='nav-link'> Productos </a>
      </li>
      <li>
        <a href='/contact' class='nav-link'>Contáctanos</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  import { qs } from "@lib/utils.ts";
  const desktopMediaQuery = matchMedia("(min-width: 768px)");

  function popoverHandler(event) {
    const navBtn = qs("#menu");
    const nav = qs("#siteNav");

    if (event.matches) {
      if (nav.hasAttribute("popover")) {
        nav.removeAttribute("popover");
        navBtn.removeAttribute("popovertarget");
      }
    } else {
      nav.setAttribute("popover", "");
      navBtn.setAttribute("popovertarget", "siteNav");
    }
  }

  popoverHandler(desktopMediaQuery);

  desktopMediaQuery.addEventListener("change", popoverHandler);

  // function closeServicesDetails(event: MouseEvent) {
  //   const target = event.target as HTMLElement

  //   const isOutside = !target.matches(".nav-list details summary") &&
  //     !target.matches(".nav-list details li a")

  //   if (isOutside) {
  //     const details = qs(".nav-list details") as HTMLDetailsElement;
  //     if (details.open) {
  //       details.removeAttribute("open");
  //     }
  //   }
  // }

  // document.addEventListener("click", closeServicesDetails);
  // document.addEventListener("mouseover", closeServicesDetails);
</script>

<style>
  /* Mobile-first Layout */
  header {
    position: relative;

    background-color: var(--main-background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;

    & > *:not(#waves-top) {
      z-index: 1;
    }

    & a {
      display: block;
    }
  }

  #waves-top {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  #menu {
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
  }

  nav {
    margin-inline: auto 0;
    padding-top: 4rem;

    width: 100%;
    max-width: 50vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--main-background-color);

    border: none;

    z-index: 1;

    transform: translateX(100%);
    transition: transform 500ms ease-in-out;

    &:popover-open {
      transform: translateX(0);
    }

    &::backdrop {
      background-color: var(--shadow-background-color);
      transition: background-color 500ms ease-in-out;
    }

    & ul li, summary {
      list-style: none;
    }

    & .nav-list li {
      &:nth-child(1) .nav-link:hover {
        background: linear-gradient(
          var(--home-gradient1-color),
          var(--home-gradient2-color),
          var(--home-gradient3-color)
        );
      }

      &:nth-child(2) .nav-link:hover {
        background: linear-gradient(
          var(--services-gradient1-color),
          var(--services-gradient2-color),
          var(--services-gradient3-color)
        );
      }

      &:nth-child(3) .nav-link:hover {
        background: linear-gradient(
          var(--products-gradient1-color),
          var(--products-gradient2-color),
          var(--products-gradient3-color)
        );
      }

      &:nth-child(4) .nav-link:hover {
        background: linear-gradient(
          var(--contact-gradient1-color),
          var(--contact-gradient2-color),
          var(--contact-gradient3-color)
        );
      }

      & .nav-link {
        font-weight: 600;

        text-shadow: 1px 1px 3px var(--link-shadow-color);

        padding: 0.75rem 2.5rem;
        transition: background-color ease-in-out 200ms;
      }
    }

    & .nav-list details {
      cursor: pointer;

      & li {
        width: auto;

        & a {
          display: block;
          padding: 0.75rem 3rem;

          font-size: 0.85rem;
          font-weight: 500;

          border-left: 3px solid transparent;

          &:hover {
            border-left: 3px solid white;
            background-color: #7777;
          }
        }
      }
    }
  }

  /* Larger Screens Adaptations */
  @media (min-width: 768px) {
    header {
      padding-right: 0;
    }

    #menu {
      display: none;
    }

    nav {
      margin-inline: 0;
      padding-top: 0;

      width: fit-content;
      max-width: none;
      height: auto;

      flex-direction: row;

      background-color: transparent;

      transform: none;
      transition: none;

      z-index: 0;

      & .nav-list {
        width: 100%;

        display: flex;
        align-items: stretch;

        & li {
          & .nav-link {
            padding: 1.7rem 2rem;
            align-self: stretch;
          }

          & details {
            position: relative;

            & ul {
              position: absolute;

              background-color: var(--main-background-color);

              & li {
                & a {
                  border-left: none;
                  text-align: center;

                  display: block;
                  padding: 1rem;

                  &:hover {
                    border-left: none;
                  }
                }
              }
            }
          }
        }
  
      }
    }
  }
</style>
