---
const { icon, url } = Astro.props;
---

<a
  href={url}
  target={icon ? '_blank' : '_self'}
  class={icon && icon?.variant === 'brands' ? 'social-link' : ''}
>
  {icon && <i class={`fi fi-${icon?.variant}-${icon?.suffix}`} />}
  <slot />
</a>

<style>
  a:not(.social-link) {
    &:hover {
      color: var(--link-ft-hover-color);
    }
  }

  .social-link {
    display: block;

    & i {
      font-size: 1.5rem;
    }

    &:nth-child(1):hover {
      color: var(--link-fb-hover-color);
    }

    &:nth-child(2):hover {
      color: var(--link-ig-hover-color);
    }

    &:nth-child(3):hover {
      color: var(--link-wp-hover-color);
    }
  }

  @media (min-width: 768px) {
    .social-link {
      & i {
        font-size: 1.1rem;
      }
    }
  }

  @media (min-width: 1024px) {
    .social-link {
      & i {
        font-size: 1.25rem;
      }
    }
  }
</style>
